<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thedevjournal.mystocks.mapper.StockHistoryMapper">
    <insert id="updateLiveData" parameterType="com.thedevjournal.mystocks.dto.request.StockHistoryRequestDto">
        INSERT INTO stock_history (id, company_id, ltp, points_change, percentage_change, open, high, low, stock_market_history_id)
        VALUES (nextval('stock_history_seq'), #{companyId}, #{request.ltp}, #{request.pointsChange}, #{request.percentageChange},
        #{request.open}, #{request.high}, #{request.low}, #{request.stockMarketHistoryId})
        ON CONFLICT (company_id, stock_market_history_id)
        DO UPDATE SET
        ltp = EXCLUDED.ltp,
        points_change = EXCLUDED.points_change,
        percentage_change = EXCLUDED.percentage_change,
        open = EXCLUDED.open,
        high = EXCLUDED.high,
        low = EXCLUDED.low;
    </insert>

    <select id="getRecentData" resultType="com.thedevjournal.mystocks.dto.response.RecentMarketDataResponseDto">
        SELECT
            to_char(smh.date, 'Mon DD') as date,
            sh.ltp as ltp,
            sh.points_change as pointsChange
        FROM stock_history sh
        INNER JOIN stock_market_history smh ON sh.stock_market_history_id = smh.id
        INNER JOIN companies c ON sh.company_id = c.id
        WHERE c.scrip = #{scrip}
        ORDER BY date DESC
        LIMIT 10;
    </select>
</mapper>