<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thedevjournal.mystocks.mapper.StockHistoryMapper">

    <resultMap id="recentDataResponse"
               type="com.thedevjournal.mystocks.dto.response.RecentStockDataResponseDo">
        <result property="name" column="name"/>
        <result property="scrip" column="scrip"/>
        <collection property="recentData" javaType="List" columnPrefix="rd_"
                    ofType="com.thedevjournal.mystocks.dto.response.RecentMarketDataResponseDto">
            <result property="date" column="date"/>
            <result property="index" column="index"/>
        </collection>
    </resultMap>

    <insert id="updateLiveData" parameterType="com.thedevjournal.mystocks.dto.request.StockHistoryRequestDto">
        INSERT INTO stock_history (id, company_id, ltp, points_change, percentage_change, open, high, low, volume, stock_market_history_id)
        VALUES (nextval('stock_history_seq'), #{companyId}, #{request.ltp}, #{request.pointsChange}, #{request.percentageChange},
        #{request.open}, #{request.high}, #{request.low}, #{request.volume}, #{request.stockMarketHistoryId})
        ON CONFLICT (company_id, stock_market_history_id)
        DO UPDATE SET
        ltp = EXCLUDED.ltp,
        points_change = EXCLUDED.points_change,
        percentage_change = EXCLUDED.percentage_change,
        open = EXCLUDED.open,
        high = EXCLUDED.high,
        low = EXCLUDED.low,
        volume = EXCLUDED.volume
    </insert>

    <select id="getRecentData" resultMap="recentDataResponse">
        SELECT
            c.name as name,
            c.scrip as scrip,
            to_char(smh.date, 'Mon DD') as rd_date,
            sh.ltp as rd_index
        FROM stock_history sh
        INNER JOIN stock_market_history smh ON sh.stock_market_history_id = smh.id
        INNER JOIN companies c ON sh.company_id = c.id
        WHERE c.scrip = #{scrip}
        ORDER BY date DESC
        LIMIT 60;
    </select>

    <select id="getMFI" resultType="com.thedevjournal.mystocks.dto.response.StockMFIParamsResponseDto">
        SELECT
            smh.date as date,
            sh.high as high,
            sh.low as low,
            sh.ltp as close,
            sh.volume as volume,
            ROUND((sh.high + sh.low + sh.ltp)/3,2) as typicalPrice
        FROM stock_history sh
        INNER JOIN stock_market_history smh ON sh.stock_market_history_id = smh.id
        INNER JOIN companies c ON sh.company_id = c.id
        INNER JOIN sectors s ON c.sector_id = s.id
        WHERE c.scrip = #{scrip} AND sh.volume IS NOT NULL
        AND s.name NOT IN ('Mutual Fund', 'Corporate Debentures', 'Government Bonds', 'Capital')
        ORDER BY date DESC
        LIMIT 14;
    </select>

    <select id="getRSI" resultType="com.thedevjournal.mystocks.dto.response.StockRSIParamsResponseDto">
        SELECT
        smh.date as date,
        sh.points_change as pointsChange
        FROM stock_history sh
        INNER JOIN stock_market_history smh ON sh.stock_market_history_id = smh.id
        INNER JOIN companies c ON sh.company_id = c.id
        INNER JOIN sectors s ON c.sector_id = s.id
        WHERE c.scrip = #{scrip}
        AND s.name NOT IN ('Mutual Fund', 'Corporate Debentures', 'Government Bonds', 'Capital')
        ORDER BY date DESC
        LIMIT 15;
    </select>
</mapper>